body {
    background-color: #118C4E;
    background-color: black;
    color : white;
}

.project-title {
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ff5733;
}

.custom-panel {
    text-align: center;
}

.form-input-custom {
    margin-bottom: 10px;
    align-items: center;
}

.center-div{
    margin: 0 auto;
}

.note {
    margin-top: 20px;
    color: black;
    font-size: 12px;
}

.copyright {
    margin-top: 100px;
    text-align: center;
}
